// $pc:#518E8A; //dark green
// $pc:#365D96;//blue
// $pc:#F86440; //orange
$pc:#5AC6AA;//turqoise light green
// $pc:#F18B9C; //pink
// $pc:#DCBA93; //coffee
// $pc:#406D85;//steel;
// $pc:#68D5F7; blue
// $pc:#1DE9B6;// main1
// $pc:#9E9D24; //main2
// $pc:#DCAF0E;
$navcolor:$pc;
$menucolor:#fff;
$sc:$pc;

$fb:#3B5A9A;
$ggl:#E33E2B;
$tw:#1da1f2;

$cc:#9E9D24;

$dpc:darken($pc,10%);
$lpc:lighten($pc,10%);
$bpc:lighten($pc,40%);

$dsc:darken($sc,10%);
$lsc:lighten($sc,10%);

// $footerUrl:url("../../images/patterns/rev.png");
$footerColor:#333;

// $footerUrl:url("../../images/patterns/congruent_outline.png");
// $footerUrl:url("../../images/patterns/stardust.png");
$footerUrl:url("../../images/patterns/zwartevilt.png");
$footerColor:#fff;
// $courseboxGradient:red;


// $footerUrl:url("../../images/patterns/footer_lodyas.png");
// $footerColor:#fff;